{% extends "base.html" %}

{% block title %}ХНУРЭ контакты{% endblock%}


{% block nav_class_contact %}active{% endblock %}


{% block  content %}
    <div class="jumbotron">
      <h1>ХНУРЭ</h1>
      <h2>Контакты</h2>
      <hr>
      <ul>
        <li>
          <h3 class="director text-uppercase">Ректор</h3>
        </li>
        <li style="list-style: none">
          <img class="img-rounded opa" height="150" src="../static/images/rektor.png">
          <ul>
            <li><b>Name:</b> Юсупов Ю.С.</li>
            <li><b>Skype:</b> jusupov.ju</li>
            <li><b>Email:</b> <span class="under"> jusupov@nure.com</span></li>
            <li><b>Phone:</b> +380 50 555 555 7</li>
          </ul>
        </li>
      </ul>
      <hr>
      <ul>
        <li>
          <h3 class="director text-uppercase">Проректор</h3>
        </li>
        <li style="list-style: none">
          <img class="img-rounded opa" height="150" src="../static/images/prorektor.png">
          <ul>
            <li><b>Name:</b> Кузубов К.З.</li>
            <li><b>Skype:</b> kuzubov.k</li>
            <li><b>Email:</b> <span class="under"> kuzubov@nure.com</span></li>
            <li><b>Phone:</b> +380 50 666 666 7</li>
          </ul>
        </li>
      </ul>
      <hr>
      <ul>
        <li>
          <h3 class="director text-uppercase">Заведующий учебной частью</h3>
        </li>
        <li style="list-style: none">
          <img class="img-rounded opa" height="150" src="../static/images/zavuch.png">
          <ul>
            <li><b>Name:</b>  Мусупов М.С.</li>
            <li><b>Skype:</b> musupov</li>
            <li><b>Email:</b> musupov@nure.com</li>
            <li><b>Phone:</b> +380 66 765 43 21</li>
          </ul>
        </li>
      </ul>
    </div>
    </div>
    </div>
{% endblock content %}
