{% extends "base.html" %}

{% block title %}ХНУРЭ контакты{% endblock%}


{% block nav_class_contact %}active{% endblock %}


{% block  content %}
    <div class="jumbotron">
      <h1>ХНУРЭ</h1>
      <h2>Контакты</h2>
      <hr>
      <ul>
        <li>
          <h3 class="director text-uppercase">Ректор</h3>
        </li>
        <li style="list-style: none">
          <img class="img-rounded opa" height="150" src="../static/images/tim-cook.png">
          <ul>
            <li><b>Name:</b> Павлов А.А.</li>
            <li><b>Skype:</b> pavlov</li>
            <li><b>Email:</b> <span class="under"> pavlov@kpi.ua</span></li>
            <li><b>Phone:</b> +380 50 555 555 75</li>
          </ul>
        </li>
      </ul>
      <hr>
      <ul>
        <li>
          <h3 class="director text-uppercase">Проректор</h3>
        </li>
        <li style="list-style: none">
          <img class="img-rounded opa" height="150" src="../static/images/eddy_cue.png">
          <ul>
            <li><b>Name:</b> Eddy Cue</li>
            <li><b>Skype:</b> eddy.cue</li>
            <li><b>Email:</b> <span class="blue"> eddy.cue@apple.com</span></li>
            <li><b>Phone:</b> +1 555 55 555 76</li>
          </ul>
        </li>
      </ul>
      <hr>
      <ul>
        <li>
          <h3 class="director text-uppercase">Почетный ректор</h3>
        </li>
        <li style="list-style: none">
          <img class="img-rounded opa" height="150" src="../static/images/steve.png">
          <ul>
            <li><b>Name:</b> Steve Jobs</li>
            <li><b>Skype:</b> ---</li>
            <li><b>Email:</b> ---</li>
            <li><b>Phone:</b> ---</li>
          </ul>
        </li>
      </ul>
    </div>
    </div>
    </div>
{% endblock content %}
