{% extends "base.html" %}
{% load staticfiles %}
{% block title %}ХНУРЭ{% endblock title %}
{% block nav_class_main %}active{% endblock nav_class_main %}
{% block content %}
    <div class="jumbotron">
      <h2>Харьковский национальный университет радиоэлетроники</h2>
      <p class="just">ХНУРЭ - ведущий университет в области радиоэлектроники,
        телекоммуникаций, электронного приборостроения, автоматизированных
        систем управления, вычислительной техники, новейших информационных технологий.
        Университет предлагает пройти курсы по наиболее актуальным и востребованным
        специальностям в сфере ИТ.</p>
      <hr>
      <h2>Выбери курс для себя!</h2>
      <div class="StudentTable">
      <table class="table-hover">
        <tr>
          <td>Курс</td>
          <td>Описание</td>
          <td></td>
        </tr>
        {% for course in courses_list %}
        <tr>
          <td>
            <a href="{% url 'courses:detail' course.id %}">{{ course.name}}</a>
          </td>
          <td>
            {{ course.short_description}}
          </td>
          <td>
          <a href="{% url 'courses:edit' course.id %}">
              <button type="button">
              <span class="glyphicon glyphicon-pencil" aria-hidden="true">изменить</span></button>
          </a>
          <a href="{% url 'courses:remove' course.id %}">
              <button type="button">
              <span class="glyphicon glyphicon-minus" aria-hidden="true">удалить</span></button>
          </a>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
    <br>
    {% include "include/message_include.html" %}
    <a href="{% url 'courses:add' %}">
      <b>
        <button type="button">Добавить курс</button>
      </b>
    </a>

    </div>
    </div>
{% endblock content %}
